*{
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px*/

  --primary-color: #1E1C25;
  --secondary-color: #fff;
  --color-highlights: #14FE99;
}

body {
  font-family:"Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  background-color: transparent;
}


h1, h2, h3, h4 {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin: 0px;
}

h1 {
  font-size: 3.4rem;
  line-height: 130%;
}

p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img{ 
  max-width: 100%;
  display: block;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 140rem;
  padding: 4rem 6rem;
  align-items: center;
  gap: 7.2rem;
}