.knowledgements {
  grid-template-columns: 1fr 1fr;
  max-width: 140rem;
  padding: 4rem 6rem;
  align-items: center;
  gap: 7.2rem;
}



@media (max-width: 800px) {
  .experience {
    grid-template-columns: 1fr;
  }
}