.presentation {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--secondary-color-white);
  max-width: 140rem;
  padding: 4rem 6rem;
}

.presentation-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 72px;
  max-width: 50vw;
}

.presentation-content h1 {
  color: var(--secondary-color);  
}

.presentation-content .presentation-title{
  color: var(--color-highlights);
}

.presentation-content a{
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-decoration: none;
  text-align: center;
  color: var(--primary-color);
  font-weight: 700;
  
  border: solid 2px var(--secondary-color-white);
  border-radius: 4rem;
  
  background-color: var(--color-highlights);
  width:24rem;
  height: 4rem; 
}

.presentation img {
  min-width: 3rem;
  min-height: 3rem;
}

@media (max-width: 990px ) {
  .presentation{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 70px;
  }

  .presentation-content  {
    max-width: 100vw;
  }

  .presentation-content a {
    width: 50vw;  
  }
 
}