.presentation-bg {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  
}

.presentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 140rem;
  padding: 4rem 6rem;
  
  gap: 7.2rem;
}

.presentation-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.presentation h1 {
  color: var(--secondary-color);  
}

.presentation .presentation-title{
  color: var(--color-highlights);
}

.presentation-content p {
  font-size: 1.4rem;
  line-height: 130%;
}

.presentation-bg img {
  width: 45vw;
}

.presentation a{
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-decoration: none;
  text-align: center;
  color: var(--primary-color);
  font-weight: 700;
  
  border: solid 2px var(--secondary-color);
  border-radius: 4rem;
  
  background-color: var(--color-highlights);
  width:24rem;
  height: 4rem; 
}

@media (max-width: 800px ) {
  .presentation {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .presentation-content {
    gap: 4rem ;
  }

  .presentation a {
    width: 50vw;  
  }

  .presentation img {
    display: none;
  }
 
}

@media (max-width: 500px ) {
  .presentation {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .presentation-content {
    gap: 4rem ;
  }

  .presentation a {
    width: 50vw;  
  }
 
}