.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 140rem;
  padding: 4rem 6rem;
  align-items: center;
  gap: 7.2rem;
}

h2{
  font-size: 3rem;
}

@media (max-width: 800px) {
  .projects {
    grid-template-columns: 1fr;
  }

}