.experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 140rem;
  padding: 4rem 6rem;
  align-items: center;
  gap: 7.2rem;

  background-color: #14FE99;
}

.experience-company {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.experience-title {
  font-size: 5rem;
  text-transform: uppercase;
}

.experience-card{
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 1rem;
  border: solid 0.5px var(--color-highlights);
}

.experience-company{
  padding: 1rem;
 
}

.experience-company-name{
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.experience-position{
  
  line-height: 120%;
  color: #302D47;

}
.experience-year{
  font-size: 1.4rem;
  line-height: 120%;
  color: #302D47;
}

.experience-activity {
  padding-top: 1rem;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .experience {
    grid-template-columns: 1fr;
  }

  .experience-title {
    font-size: 1.8rem;
    gap: 2rem 1rem;
    margin-bottom: 0.5rem;
    max-width: 100vh;
    text-align: center;
  }

  .experience-card{
    margin-bottom: 2rem;
  }

}